body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin-left:5%;
    margin-right:5%;
    background-color: #ffffff;
}
body.embeded  {
    margin-left:0%;
    margin-right:0%;
}
a.intable       { color: #000000; }
h2       { color:  #550022; }
h1, h2          { margin: 1; }
h1              {color:#7A003C; width:max-content; border-bottom: 2px solid #eee,clear:both}
h2              { font-size: 1.2em; }
embed {
    margin-left:0%;
}

.header {
    /*width:83.5%;*/
    border-radius: 10px 10px 0 0;
    color:#7A003C;
    font-size: 300%;
    font-family: Arial, sans-serif;
    text-align: center;
    overflow: hidden;
    background-color: #cccccc;
    padding: 20px 10px;
    font-weight: bold;
}

.forcontent{
    width:94%;
    margin-top: 3em;
    margin-bottom: 3em;
    border:2px solid #ddd;
    padding:3%;
    display:flex;
    flex-direction:column;
    border-radius:10px;
    display: inline-block;
}


.onethird {
    width:32.8%;
    display: inline-block;
}



.divider {
  border-radius: 10px 10px 0 0;
  margin-top:3em;
  width:98%;
  /*height:1.2em;*/
  text-align: center;
  padding: 1%;
  background-color: #940049;
  color: white;
  display: inline-block;
  font-size: 0.9em;
  letter-spacing: 2px;
  word-spacing: 10px;
}



.footer {
  border-radius: 0 0 10px 10px;
  width:98%;
  padding: 1%;
  text-align: left;
  background-color: #666666;
  color: white;
  display: inline-block;
  font-size: 0.7em;
  line-height: 1.5em;
  letter-spacing: 1px;
}
/* Create a top navigation bar with a black background color  */
.topnav {
    /*width:83.5%;*/
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-right:1px solid #666666;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.split:hover {
  background-color: #ffbf3d;
  color: black;
}


/* Create a right-aligned (split) link inside the navigation bar */
.topnav a.split {
  float: right;
  background-color: #666666;
  color: #ffbf3d;
  border-left:1px solid #ddd;
}


/* Create a top navigation bar with a black background color  */
.topnav2 {
  border-radius: 0 0 10px 10px;
    /*width:83.5%;*/
  background-color: #bbb;
  overflow: hidden;
  margin-bottom:3em;
}

/* Style the links inside the navigation bar */
.topnav2 a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-right:1px solid #666666;
}

/* Change the color of links on hover */
.topnav2 a:hover {
  background-color: #eee;
  color: black;
}


table.dataframe {
    min-width: 80%;
}


table.dataframe, .dataframe tr, .dataframe td {
  /*margin: 20px;*/
  margin-bottom: 40px;
  border: 1px solid #C8C8C8;
  border-collapse: collapse;
  text-align:left;
  vertical-align: middle;
  padding: 10px;
  font-size: 0.9em;
}


/*table.dataframe td a{*/
    /*display:block;*/
/*}*/

table.dataframe th {
  text-align:center;
}

tr:nth-child(odd){ background-color:#eee; }
tr:nth-child(even){ background-color:#fff; }

tr:hover{ background-color: #ffff99;}


form{
    width:80%;
  margin-top: 3em;
  margin-bottom: 3em;
    border:2px solid #ddd;
    padding:3vw;
    display:flex;
    /*flex-direction:row;*/
    flex-direction:column;
    border-radius:10px;
    display: inline-block;
}



label.invtype{
    border-radius:5px;
    width:96.5%;
    border-top:2px solid #ddd;
    margin-top:10px;
    margin-bottom:10px;
    border-bottom:1px solid #ddd;
    float: left;
    display: inline-block;
    /*border: 1px solid #fff;*/
    padding: 10px;
    font-size: 1.1em;
    /*background-color: #550022;*/
    background-color: #940049;
    color: #ddd;
    /*text-align: center;*/
  text-transform: uppercase;
  letter-spacing: 2px;
}

label.inv{
    /*border-radius:4px;*/
    width:31%;
    height:27%;
    margin-bottom:15px;
    border-bottom:1px solid #ddd;
    float: left;
    /*display: inline-block;*/
    border: 1px solid #C8C8C8;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 0.9em;
    background-color: #eee;
    /*text-align: center;*/
    text-overflow:initial;
}

label.inv:hover{ background-color: #fff;}

button{
    float: right;
    font-size: 0.9em;
    border: 2px solid #C8C8C8;
    margin: 1px;
    border-radius: 13%;;
    padding: 5px;
    display: inline-block;
    background-color: #FDBF57;
}

button:hover{
    background-color: #FFD100;
    border: 3px solid #C8C8C8;
    margin: 0px;
}

button.submit{
    float: right;
}

button.leftsubmit{
    float: left;
}





