<!DOCTYPE html>
<html lang="en">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <head>
        <title> 
        Flat knot {{knotname}}
 </title>
    </head>

<div class="header">
        Table of flat knot invariants
</div>

{% include "topnavbar.html" %}


    <body>
        <h1>
        Amost Classical Flat knot ac{{knotname}}
        </h1>

{% if knotname!='0' %}
            <table>
                <h1>
                <!--Displaying the converted table-->
                     {% for table in tables %}
                    {{ table|safe }}
                    {% endfor %}
                </h1> 
            </table>
{% endif %}


             <table border="1" class="dataframe"><tbody>
{% if knotname!='0' %}

{% if r3_orbit!='' %}
        <tr><td>
The R3 orbit of minmal crossing diagrams contains:
        <!--</td></tr>        -->
        <!--<tr><td>-->
        {% for r3 in r3_orbit.replace("}","").replace("{","").replace("'","").replace(" ","").split(",") %}
        <embed type="text/html" src="/diagram/{{r3}}" width=auto height=auto>
        {% endfor %}
        </td></tr>        
        <tr><td>
        The diagrammatic symmetry type of this knot is {{diag_sym_type}}. 
        </td></tr>       
    {% if inv!='Same' %}
        <tr><td>
        The inv(K) is  <embed type="text/html" src="/diagram/{{inv}}" width=auto height=auto>
        </td></tr>       
    {% endif %}
    {% if bar!='Same' %}
        <tr><td>
        The bar(K) is  <embed type="text/html" src="/diagram/{{bar}}" width=auto height=auto>
        </td></tr>       
    {% endif %}
    {% if invbar!='Same' %}
        <tr><td>
        The invbar(K) is
        <embed type="text/html" src="/diagram/{{invbar}}" width=auto height=auto>
        </td></tr>
    {% endif %}

{% endif %}
        <tr><td>
        The fillings associated to the algebraic genus:
        <embed type="text/html" src="/fillings/{{gcode}}/{{fillings}}" width="100%" height=auto>
        </td></tr>
        <tr><td>
        <a href="/fillings/{{gcode}}/{{fillings}}"> Or check here to see the fillings </a>
        </td></tr>
{% endif %}

  </tbody> </table> 





{% include "footer.html" %}
    </body>
</html>


