<!DOCTYPE html>
<html lang="en">
{% include "header.html" %}
    <body>

<div class="header">
      Welcome to KnotFlatSite
</div>



{% include "topnavbar.html" %}

<div width='100%'>
<form method="post" width='100%'>

    <label class='invtype' for="Choose question type" name="cr">
        Please select your question:
        <!--<button class="submit" type="submit" name="submit">Submit</button>-->
    </label>
                <br>
                <br>
                <br>
                <input type="radio"  name="question" value="gvk2fk">
        <label for="gvk2fk">
           I have a Gauss code for virtual knot and I want to know what flat knot it projects to.
    </label>
                <br>
                <br>
        <input type="radio"  name="question" value="gfk2fk">
        <label for="gvk2fk">
    <label for="gfk2fk">
           I have a Gauss code for flat knot and I want to know what flat knot it is.
    </label>
                <br>
                <br>
    <input type="radio" name="question" value="nfk2fk">
    <label for="nfk2fk">
           I have the name of a flat knot and I want to know its details.
    </label>
                <br>
                <br>
        <button class="leftsubmit" type="submit">Next</button>

</form>
</div>

<div align='left' margin-left='5%;' >
 <embed type="text/html" src="/calculator/{{question}}" width="90%" height='5000em'>
</div>
    </body>

</html>
