<div class='divider'>About FlatKnotInfo</div>
<div class='footer'>
<!--About FlatKnotInfo: -->
This website provides a table of flat knots and their invariants.
The knots were tabulated using a computer program written by Lindsay White.
The invariants were calculated using computer programs written by Jie Chen.
Both projects were completed under the supervision of Hans U. Boden. 
</div>

<div class='divider'>How to cite</div>
<div class='footer' id='cite'>
If you use FlatKnotInfo in your work, 
please cite it as:<br><br>
J.  Chen,
<i>FlatKnotInfo: Table of Flat Knot Invariants</i>,
flatknotinfo.com.
<br>
<br>
Bibtex: <br>
@misc{
flatknotinfo,<br>
	Author = {J.  Chen},<br>
	howpublished = {flatknotinfo.com},<br>
	Title = {FlatKnotInfo: Table of Flat Knot Invariants},<br>
}
</div>

