<!DOCTYPE html>
<html lang="en">
{% include "header.html" %}
<div class="header">
       Crossref: flat and virtual knots
</div>

{% include "topnavbar.html" %}
{% include "top2navbar.html" %}

    <body>
        <div class="forcontent">
                    {% for table in tables %}
        <div class="onethird">
            <table>
                <h1>
                <!--Displaying the converted table-->
                    {{ table|safe }}
                </h1> 
            </table>
        </div>
                    {% endfor %}
        </div>


<div class="topnav">
        {% if pagenum >0 %}
<a href='/crossref/{{pagenum-1}}' > Previous </a>
        {% else%}
<a href='#top' > Top of Page </a>

        {% endif %}

        {% if  pagenum<154 %}
<a href='/crossref/{{pagenum+1}}' >Next</a>
        {% endif %}

        {% if  pagenum<144 %}
<a href='/crossref/{{pagenum+10}}' >Next 10</a>
        {% endif %}

        {% if  pagenum<54 %}
<a href='/crossref/{{pagenum+100}}' >Next 100</a>
        {% endif %}

        {% if  pagenum<154 %}
<a href='/crossref/154' >End</a>
        {% endif %}
<!--<a href='#' > Download will come soon</a>-->


  <a class='split' href="/citeus">About FlatKnotInfo</a>
</div>


    </body>
</html>
