<!DOCTYPE html>
<html lang="en">
{% include "header.html" %}
<div class="header">
       Cross-reference of flat knots and virtual knots
</div>

{% include "topnavbar.html" %}

    <body>
        <!--<div id='top' align="center"><h2> Table of flat knot invariants</h2> </div>-->
        <div align="center">
            <table>
                <h1>
                <!--Displaying the converted table-->
                     {% for table in tables %}
                    {{ table|safe }}
                    {% endfor %}
                </h1> 
            </table>
        </div>


<div class="topnav">
        {% if pagenum >0 %}
<a href='/crossref/{{pagenum-1}}' > Previous </a>
        {% else%}
<a href='#top' > Top of Page </a>

        {% endif %}

        {% if  pagenum<465%}
<a href='/crossref/{{pagenum+1}}' > Next </a>
        {% endif %}

        {% if  pagenum<455%}
<a href='/crossref/{{pagenum+10}}' > Next 10</a>
        {% endif %}

        {% if  pagenum<365%}
<a href='/crossref/{{pagenum+100}}' > Next 100</a>
        {% endif %}

<a href='#' > Download will come soon</a>


  <a class='split' href="/citeus">Please cite KnotFlatSite</a>
</div>


    </body>
</html>
