<!DOCTYPE html>
<html lang="en">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <head>
        <title> 
        Flat knot {{knotname}}
 </title>
    </head>

<div class="header">
        Table of flat knot invariants
</div>

{% include "topnavbar.html" %}


    <body>
        <h1>
        Flat knot {{knotname}}
        </h1>

    <div align="left">
            <table>
                <h1> <table border="1" class="dataframe">
      <thead> <tr style="text-align: left;">
          </tr>
  </thead>
  <tbody>
       {% for line in content.split('\n') %}
    <tr> <td> {{ line }} </td> </tr>
        {% endfor %}
  </tbody> </table> </h1> 
            </table>


{% if knotname!='0' %}
The R3 orbit of minmal crossing diagrams are:
        </div>        <br>
        {% for r3 in r3_orbit.replace("}","").replace("{","").replace("'","").replace(" ","").split(",") %}

        <embed type="text/html" src="/diagram/{{r3}}" width="200" height="200">

        {% endfor %}

{% endif %}


<!--<div class="topnav">-->
<!--<a href='#top' > Top of Page </a>-->
  <!--[><a class='split' href="/citeus">Please cite KnotFlatSite</a><]-->
<!--</div>-->



    </body>
</html>


