<!DOCTYPE html>
<html lang="en">
{% include "header.html" %}
<div class="header">
        Table of flat knot invariants
</div>

{% include "topnavbar.html" %}
{% include "top2navbar.html" %}


    <body>
        <h1>
        Flat knot {{knotname}}
        </h1>

             <table border="1" class="dataframe">

  <tbody>
       {% for line in content.split('\n') %}
    <tr> <td> {{ line }} </td> </tr>
        {% endfor %}


{% if knotname!='0' %}
        <tr><td>
The R3 orbit of minmal crossing diagrams contains:
        <!--</td></tr>        -->
        <!--<tr><td>-->
        {% for r3 in r3_orbit.replace("}","").replace("{","").replace("'","").replace(" ","").split(",") %}
        <embed type="text/html" src="/diagram/{{r3}}" width=auto height=auto>
        {% endfor %}
        </td></tr>        
        <tr><td>
        The diagrammatic symmetry type of this knot is {{diag_sym_type}}. 
        </td></tr>       
    {% if inv!='Same' %}
        <tr><td>
        The inv(K) is  <embed type="text/html" src="/diagram/{{inv}}" width=auto height=auto>
        </td></tr>       
    {% endif %}
    {% if bar!='Same' %}
        <tr><td>
        The bar(K) is  <embed type="text/html" src="/diagram/{{bar}}" width=auto height=auto>
        </td></tr>       
    {% endif %}
    {% if invbar!='Same' %}
        <tr><td>
        The invbar(K) is
        <embed type="text/html" src="/diagram/{{invbar}}" width=auto height=auto>
        </td></tr>      
    {% endif %}
        <tr><td>
<!--<a href="/fillings/{{gcode}}/{{fillings}}"> Click here to check the fillings associated to the algebraic genus</a>-->
        The fillings (up to the first 10) associated to the algebraic genus:
        <embed type="text/html" src="/fillings/{{gcode}}/{{fillings}}" width="100%" height=auto>
        </td></tr>
        <tr><td>Or click 
        <a href="/fillings/{{gcode}}/{{fillings}}" target='_blank'>here</a>
        to check the fillings
        </td></tr>
{% endif %}

  </tbody> </table> 


{% if knotname!='0' %}
            <table>
                <h1>
                <!--Displaying the converted table-->
                     {% for table in tables %}
                    {{ table|safe }}
                    {% endfor %}
                </h1> 
            </table>

{% endif %}



{% include "footer.html" %}
    </body>
</html>


