<!DOCTYPE html>
<html lang="en">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <head>
        <title> 
            Flat knot {{crossing_num}}.{{order_id}}
</title>
    </head>
    <body>
        <h1>
        You are checking flat knot {{crossing_num}}.{{order_id}}
        </h1>
       
        <h2>
        Its Gauss code is
        </h2>

        <h2>
        Its diagram is
        </h2>

        <h2>
        Its R3 orbit is
        </h2>

        <h2>
        Its R3 orbit is
        </h2>
        
        <h2>
        Its phi is . Knots ... has same phi.
        </h2>

        <h2>
        Its arrow polynomial is . Knots ... has same arrow polynomial.
        </h2>






        </div>
    </body>
</html>
