<!DOCTYPE html>
<html lang="en">
{% include "header.html" %}
<title> FlatKnotInfo </title>
    <body>

<div class="header">
      Welcome to FlatKnotInfo
</div>



{% include "topnavbar.html" %}
{% include "top2navbar.html" %}


<form action="/result" method="POST">
    <label class='invtype' for="Choose flat knot crossing numbers" name="cr">
Flat knot crossing numbers
        <button class="submit" type="submit" name="submit">Submit</button>
    </label>
{% for i in range(list_num_len) %}
    <label class='inv' for="num{{ i }}" name="num{{ i }}">
    {% if i < 3 %}
        <input type="checkbox" id="num{{ i }}" name="num{{ i }}" value="{{ list_num[i][-1]}}" checked>
        {% else %}
        <input type="checkbox" id="num{{ i }}" name="num{{ i }}" value="{{ list_num[i][-1]}}" check>
    {% endif %}
        {{ list_num[i] }}
    </label>
{% endfor %}
    <br>
{% for invcls in dict_inv.keys() %}
    <label class='invtype' for="invcho" name="{{ invcls }}">
    {{ invcls }}
        <button class="submit" type="submit" name="submit">Submit</button>
    </label>
    {% for invname in dict_inv[invcls].keys() %}
    <label class='inv' for="{{ invname }}" name="{{ invname }}">
        <input type="checkbox" id="{{ invname }}" name="{{ invname }}" value="{{ invname }}">
        <a class='intable' href= '/inv/{{invname}}'> {{ dict_inv[invcls][invname] }} </a>
    </label>
    {% endfor %}
{% endfor %}

</form>

{% include "footer.html" %}

    </body>
</html>
