<!DOCTYPE html>
<html lang="en">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <head>
        <title> Table </title>
    </head>
    <body>
        <div align="center">
            <table>
                <h1>
                <!--Displaying the converted table-->
                     {% for table in tables %}
                    <h2>{{titles[loop.index]}}</h2>
                    {{ table|safe }}
                    {% endfor %}
                </h1> 
            </table>
        </div>
    </body>
</html>
